#Introduction to Scikit-Learn
This notebook demosntates some of the most useful functions of the beautiful Scikit-Learn
library.

What we're going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

 ## 0. An end-to-end Scikit-Learn workflow

In [1]:
#1. get the data ready
import pandas as pd
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3       0
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3       0
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3       0
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3       0
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [3]:
#Create X (features matrix)
X = heart_disease.drop("target",axis=1)

# Create Y (labels)
y = heart_disease["target"]
X

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2

[303 rows x 13 columns]

In [9]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)

# We'll keep the default hyperarameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [11]:
clf.fit(X_train,y_train);

In [12]:
#make a prediction
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0], dtype=int64)

In [13]:
y_test

27     1
289    0
145    1
122    1
97     1
      ..
71     1
215    0
160    1
176    0
195    0
Name: target, Length: 61, dtype: int64

In [14]:
# 4. Evaluate the model
clf.score(X_train,y_train)

1.0

In [15]:
clf.score(X_test,y_test)

0.8032786885245902

In [19]:
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.87      0.76      0.81        34
           1       0.74      0.85      0.79        27

    accuracy                           0.80        61
   macro avg       0.80      0.81      0.80        61
weighted avg       0.81      0.80      0.80        61

In [20]:
confusion_matrix(y_test,y_preds)

array([[26,  8],
       [ 4, 23]], dtype=int64)

In [21]:
accuracy_score(y_test,y_preds)

0.8032786885245902

In [26]:
# 5. Improve a model 
# Try different amount of n_estimators
import numpy as np
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 77.049180%

Trying model with 20 estimators...
Model accuracy on test set: 80.327869%

Trying model with 30 estimators...
Model accuracy on test set: 81.967213%

Trying model with 40 estimators...
Model accuracy on test set: 78.688525%

Trying model with 50 estimators...
Model accuracy on test set: 81.967213%

Trying model with 60 estimators...
Model accuracy on test set: 83.606557%

Trying model with 70 estimators...
Model accuracy on test set: 80.327869%

Trying model with 80 estimators...
Model accuracy on test set: 80.327869%

Trying model with 90 estimators...
Model accuracy on test set: 78.688525%

In [27]:
# 6. Save a model and load it
import pickle 
pickle.dump(clf,open("random_forest_model_1.pk1","wb"))

In [28]:
loaded_model = pickle.load(open("random_forest_model_1.pk1","rb"))
loaded_model.score(X_test,y_test)

0.7868852459016393